---
export const prerender = false;
import Layout from "../../layouts/Layout.astro";
import { catalogo } from "../../data/catalogo.js";
import Listado from "../../components/Listado.astro";
import Catalogo from "../../components/Catalogo.astro";
import FormBuscar from "../../components/FormBuscar.astro";

const categorias = catalogo
  .map((item) => {
    return {
      categoria: item.categoria,
      alias: item.alias,
      item: item.data[0]["href"],
      nombre: item.data[0]["nombre"],
      href: item.data[0]["href"],
    };
  })
  .sort((a, b) => {
    return a.categoria.localeCompare(b.categoria, "es", {
      sensitivity: "base",
    });
  });
const { alias } = Astro.params;

const subCategoria = alias === 'all'
  ? catalogo
      .flatMap((item) => item.data) // Combina los datos de todos los elementos
      .sort((a, b) => a.nombre.localeCompare(b.nombre, "es", { sensitivity: "base" }))
  : catalogo
      .filter((item) => item.alias === alias)[0]
      .data.sort((a, b) => a.nombre.localeCompare(b.nombre, "es", { sensitivity: "base" }));
---

<Layout>
  <header
    class="bg-slate-200 py-2 flex items-center justify-center font-bold text-2xl uppercase"
  >
    <a href="/">Catálogo de Joyas</a>
  </header>
  <div
    class="grid gap-2 xl:grid-cols-[auto_1fr] max-lg:grid-cols-1 md:grid-cols-1 max-sm:grid-cols-1 bg-slate-200"
  >
    <nav
      class="sticky top-0 py-2 w-full bg-slate-200 flex flex-col gap-4 xl:w-96 xl:pt-4 xl:pl-2"
    >
      <FormBuscar inputText="" catalogo={categorias} focus={alias}/>
      <Catalogo catalogoList={categorias} focus={alias}  />
    </nav>
    <Listado catalogo={subCategoria} />
  </div>
</Layout>
