---
import { FaMagnifyingGlass } from "react-icons/fa6";
const { inputText,catalogo,focus } = Astro.props;
import Menu from "./react/Menu";
const apiUrl = import.meta.env.PUBLIC_API_URL;
---

<div class="px-2 flex gap-2 ">
  
  <div class="rounded-lg  flex items-center w-full shadow shadow-slate-500/50  h-10 gap-1 px-3">
    <form class="flex  w-full" id="search-form">
      <input
        type="text"
        name="search-input"
        id="search-input"
        placeholder="Buscar..."
        type="text"
        value={inputText}
        class="h-full w-full focus:outline-none px-2 font-medium text-lg"
      />
      <button type="submit"><FaMagnifyingGlass className="size-5" /></button>
    </form>
  </div>
  <Menu client:load catalogo={catalogo} apiUrl={apiUrl} focus={focus}   />
</div>
<script is:inline>
  document.getElementById("search-form").addEventListener("submit", (e) => {
    e.preventDefault();
    const query = document.getElementById("search-input").value.trim();
    if (query) {
      window.location.href = `/buscar/${encodeURIComponent(query)}`;
    }
  });
</script>
