---
const { catalogo } = Astro.props;
const apiUrl = import.meta.env.PUBLIC_API_URL;

---

<div
  class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 grid-cols-2 p-2 gap-2 bg-slate-200 h-min"
>
  {
    catalogo.map((item: any) => (
      <a class=" shadow shadow-slate-500/50 rounded-lg " href={ item.codigo?`/detalle/${item.codigo}`:`${apiUrl}/categoria/${item.alias}`}>
        <div class="aspect-square  rounded-lg ">
          <img
            src={`https://www.deltajoyas.cl/${item.href}`}
            alt={item.nombre}
            class="w-full h-full object-cover rounded-t-lg"
            loading="lazy"
            decoding="async"
          />
          <div class=" p-1 text-base font-medium capitalize ">
            {item.codigo?item.nombre.toLocaleLowerCase():item.categoria.toLocaleLowerCase()} 
          </div>
        </div>
      </a>
    ))
  }
</div>
